@model GTMDweixinManagement.EF.SignInfo
@{
    Layout = "~/Areas/WeiXin/Views/Shared/_LayoutWeiXin.cshtml";
}
<body ontouchstart>
    <h2 style="text-align:center;background-color:#eee">勾班</h2>
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <p class="weui_media_desc">说明：@Model.DisplayName  | 时间段： @(((DateTime)Model.BeginDate).ToLongDateString().ToString()) --@(((DateTime)Model.EndDate).ToLongDateString().ToString())</p>
        </div>
    </div>
    <table id="sign" data-sign="@Model.ID">
        <tbody>
            <tr>
                <th>星期/日期</th>
                <th>早班</th>
                <th>中班</th>
                <th>晚班</th>
            </tr>

            @for (int i = 0; i <= 6; i++)
            {
                <tr>
                    <td>
                        <div>@(((DateTime)Model.BeginDate).AddDays(i).ToString("ddd", new System.Globalization.CultureInfo("zh-cn")))</div>
                        <div class="info_meta"><span>@(((DateTime)Model.BeginDate).AddDays(i).ToString("yyyy.MM.dd"))</span></div>
                    </td>
                    @for (int j = 0; j <= 2; j++)
                {
                        <td class="dateCheck" data-date="@(((DateTime)Model.BeginDate).AddDays(i).ToString("yyyy-MM-dd")+"-"+j)"></td>
                    }
                </tr>
            }

            <tr>
                <th>
                    <div>合计</div>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <style>
        #sign {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
        }

            #sign tr:first-child {
                text-align: center;
                font-size: 14px;
                background-color: #eee;
            }

            #sign tr {
                height: 44px;
            }

            #sign td {
                text-align: center;
                border: 1px solid #D9D9D9;
                width: 25%;
            }

        .odd {
            background-color: #ffffff;
        }

        .even {
            background-color: #eee;
        }

        .info_meta {
            font-size: 11px;
            line-height: 12px;
        }

        td:hover {
            background-color: #D9D9D9;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#sign tbody tr:odd").addClass("odd");
            $("#sign tbody tr:even").addClass("even");
            targetCheck();
            initSign();
        })
        function targetCheck() {
            $("#sign tbody tr:not(:eq(8)) td:not(:eq(0))").click(
                function () {
                    if ($(this).index() > 0) {
                        //debugger;
                        if ($(this).html().indexOf("div") > 0) {
                            $(this).html("");
                        } else {
                            $(this).append(
                              "<div class='icon_sp_area'>" +
                               "<i class='weui_icon_success'></i>" +
                               "</div>"
                         );
                        }
                    }
                    getSignTotal();
                    //改变总是
                    //alert(getSignTotal());
                })
        }
        function getSignTotal() {
            var tdList = $("#sign tbody tr td");
            var total = 0;
            $.each(tdList, function () {
                if ($(this).html().indexOf("icon_sp_area") > 0) {
                    total++;
                }
            });
            //改变总数
            //var text="<span style='color:red'></span>"
            $("#sign tbody tr:eq(8) th:eq(3)").html(total);
            //return total;
        }
        function submitCreate() {
            //取得勾班的记录
            var data = {};
            var list = [];
            var arr = $(".dateCheck");
            $.each(arr, function (index, value) {
                var _this = this;
                var _date = $(_this).attr("data-date");
                //是否勾到
                if ($(_this).html().indexOf("div") > 0) {
                    list.push(true);
                } else {
                    list.push(false);
                }
            })
            debugger;
            data["list"] = list;
            data["signID"] = $("#sign").attr("data-sign");
            $.showLoading();
            $.post("/api/StudentSign/Greate", data, function (result) {
                $.hideLoading();
                if (result["status"]) {
                    $.toast("保存成功！");
                } else {
                    $.toast(result["msg"], "forbidden");
                }
            })
        }
        //初始化当前用户勾的班次
        function initSign() {
            var signID = $("#sign").attr("data-sign");
            if (signID) {
                $.showLoading();
                $.get("/api/StudentSign/GetSignInfo", { signID: signID },
                   function (data) {
                       $.hideLoading();
                       debugger;
                       if (data) {
                           var elements = $(".dateCheck");
                           for (var i = 0; i < elements.length; i++) {
                               if (data[i]) {
                                   $(elements[i]).click();
                               }
                           }
                       }
                   })
            }
        }

    </script>
    <div class="weui_btn_area">
        <a class="weui_btn weui_btn_primary" onclick="submitCreate()" id="sign-create">保存</a>
    </div>
    <div class="weui_btn_area">
    </div>
</body>
